<div id="input-history-shell">
  <div id="input-history"></div>
</div>
<div id="editor-controls">
  <input
    id="stop-button"
    class="editor-control-toggle-button"
    type="button"

    (click)="StopEditorPlayState()"
    value="Stop"/>
  <input
    id="play-button"
    class="editor-control-toggle-button"
    type="button"
    [ngStyle]="{'background-color': (trackingNotes) ? 'rgb(106,236,43)' : 'rgb(26,96,21)'}"
    (click)="ToggleEditorPlayState()"
    value="Play"/>
  <input
  id="record-check"
  class="editor-control-toggle-button"
  type="button"
  [ngStyle]="{'background-color': (recordingPrimed) ? 'rgb(204,32,55)' : 'rgb(91,63,63)'}"
  (click)="recordingPrimed = !recordingPrimed"
  value="Rec"/>
  <input
    id="live-update-check"
    class="editor-control-toggle-button"
    type="button"
    [ngStyle]="{'background-color': (liveUpdateHeldNotes) ? 'rgb(64,175,204)' : 'rgba(83,122,136,0.66)'}"
    (click)="liveUpdateHeldNotes = !liveUpdateHeldNotes"
    value="LiveUpdate"
  />
  <label>Vol:<input
    #gainLevel
    id="gain-level"
    type="range"
    min="0"
    max="1"
    step=".05"
    [ngStyle]="{'background-color': 'rgb(87,87,87)'}"
    (change)=" SetGain(gainLevel.value)"
    [defaultValue]=".5"
  ></label>
</div>
<div id="editor-input-icons">
  <div id="editor-input-icons-left">
  </div>
  <div id="editor-input-icons-right">
  </div>
  <div id="editor-input-icons-dpad">
  </div>
  <div id="editor-input-icons-btn">
  </div>

</div>
