@use 'src/helpers/Mixins'
$converter-bg: #181818
$converter-icon-height: 28px




#editor-options
  input
    color: white
    font-weight: bold
    font-size: .8em


#editor-input-icons
  background-color: $converter-bg
  display: block
  float: left
  max-width: 24px
  .editor-input-icon-direction
    display: block
    height: $converter-icon-height - 3
    max-height: 24px
    img
      max-width: 24px

  .editor-input-icon-button
    display: block
    height: $converter-icon-height - 3
    max-height: 24px
    img
      max-width: 24px

  #editor-input-icons-left
    background-color: rgba(59, 217, 255, 0.16)

  #editor-input-icons-right
    background-color: rgba(178, 0, 0, 0.16)

  #editor-input-icons-dpad
    background-color: rgba(23, 178, 0, 0.16)


$input-history-node-width: 20px
#input-history-shell
  @include Mixins.quick-scroll-bar(8px, 6px, 6px, rgb(166, 166, 166))
  background: #343434
  height: ($input-history-node-width * 7)
  padding-top: 4px

  #input-history
    white-space: nowrap
    width: 300 * ($input-history-node-width + 1)

    .input-history-node
      @include Mixins.unselectable
      white-space: nowrap
      display: grid
      grid-auto-rows: auto
      max-width: $input-history-node-width
      float: left

      img
        @include Mixins.unselectable
        border-right: rgba(227, 227, 227, .5) 1px solid
        max-width: $input-history-node-width

      img:last-child
        border-right-style: double

    .input-history-frame-count
      @include Mixins.unselectable
      color: rgb(227, 227, 227)
      background-color: rgba(35, 35, 35, 0.86)
      border-top-right-radius: 2px
      border-bottom-right-radius: 6px
      border: rgba(171, 171, 171, 0.71) 2px double
      font-weight: bold
      font-size: 11px
      text-align: center
      vertical-align: bottom
      padding-top: 2px
      transform: rotate(45deg) translate(-6px, 0px)
      width: $input-history-node-width
