<div id="input-history-shell">
  <div id="input-history"></div>
</div>
<div id="editor-options"><input
  id="record-check"
  type="button"
  [ngStyle]="{'background-color': (recordingPrimed) ? 'rgb(204,32,55)' : 'rgb(91,63,63)'}"
  (click)="recordingPrimed = !recordingPrimed"
  value="Rec"/>
  <input
    id="live-update-check"
    type="button"
    [ngStyle]="{'background-color': (liveUpdateHeldNotes) ? 'rgb(64,175,204)' : 'rgba(83,122,136,0.66)'}"
    (click)="liveUpdateHeldNotes = !liveUpdateHeldNotes"
    value="LiveUpdate"
  /></div>
<div id="editor-input-icons">
  <div id="editor-input-icons-left">
  </div>
  <div id="editor-input-icons-right">
  </div>
  <div id="editor-input-icons-dpad">
  </div>
  <div id="editor-input-icons-btn">
  </div>

</div>
