@use 'src/helpers/Mixins'
$converter-bg: #181818
$converter-icon-height: 28px


#record-check-label, #live-update-label
  color: white
  font-size: .8em
  //background-color: rgba(60, 60, 60, .6)

  #record-check, #live-update-check
    background-size: 24px

    //&:checked
    //  background-color: rgba(240, 60, 60, .9)

    &:checked &:disabled
      background-color: red

#button-divider
  img
    position: absolute
    z-index: 10

#editor-input-icons
  background-color: $converter-bg
  display: block
  float: left
  max-width: 24px

.editor-input-icons-dpad
  padding-top: 2px

  .editor-input-icon-direction
    display: block
    height: $converter-icon-height - 3

    .editor-input-icon:first-of-type
      padding-top: 1px

.editor-input-icons-btn
  .editor-input-icon:first-of-type
    padding-top: 4px

.editor-input-icon
  display: block
  height: $converter-icon-height

#input-history-shell
  background: #343434
  height: 128px
  //overflow-x: scroll
  @include Mixins.quick-scroll-bar(8px, 6px, 6px, rgb(166, 166, 166))
  #input-history
    white-space: nowrap
    height: 128px
    width: 300 * 24px
    .input-history-node
      @include Mixins.unselectable
      white-space: nowrap
      display: grid
      grid-auto-rows: auto
      width: 24px
      float: left
      img
        @include Mixins.unselectable
    .input-history-frame-count
      color: rgb(227, 227, 227)
      text-align: center
      vertical-align: bottom
      transform: rotate(45deg)
      @include Mixins.unselectable
