<!-- <p>input-converter works!</p> -->
<!-- <input [(ngModel)]="midiOutput">
<form id="form"></form>
<h4>Output: {{midiOutput}}</h4> -->
<div id='editor-input-icons'>
  <div id='editor-input-icon'>
    <img src="assets/editor/img/x360/360_Dpad.png" width="32">
  </div>
  <div id='editor-input-icon'>
    <img src="assets/editor/img/x360/360_Dpad.png" width="32">
  </div>
  <div id='editor-input-icon'>
    <img src="assets/editor/img/x360/360_Dpad.png" width="32">
  </div>
  <div id='editor-input-icon'>
    <img src="assets/editor/img/x360/360_Dpad.png" width="32">
  </div>
  <div id='editor-input-icon'>
    <img src="assets/images/x.png" width="32">
  </div>
  <div id='editor-input-icon'>
    <img src="assets/images/y.png" width="32">
  </div>
  <div id='editor-input-icon'>
    <img src="assets/images/a.png" width="32">
  </div>
  <div id='editor-input-icon'>
    <img src="assets/images/b.png" width="32">
  </div>
  <div id='editor-input-icon'>
    <img src="assets/images/r1.png" width="32">
  </div>
  <div id='editor-input-icon'>
    <img src="assets/images/r2.png" width="32">
  </div>
  <div id='editor-input-icon'>
    <img src="assets/images/l1.png" width="32">
  </div>
  <div id='editor-input-icon'>
    <img src="assets/images/l2.png" width="32">
  </div>
</div>
