@mixin gradientBG($direction, $list)
  background: -webkit-linear-gradient($direction, $list)
  background: -moz-linear-gradient($direction, $list)
  background: -o-linear-gradient($direction, $list)
  background: linear-gradient($direction, $list)


@mixin quick-scroll-bar($height, $width, $radius, $bar-color, $track-color: mix($bar-color, black,  50%))
  overflow-x: scroll
  &::-webkit-scrollbar
    border-radius: $radius
    height: $height
    width: $width

  &::-webkit-scrollbar-thumb
    background: $bar-color
    border-radius: $radius

  &::-webkit-scrollbar-track
    border-radius: $radius
    background: $track-color
  // For Internet Explorer - BREAKS IT for some reason? no IE for now
  //&
  //  scrollbar-face-color: $foreground-color
  //  scrollbar-track-color: $background-color


// no scroll bar
@mixin no-scroll-bar()
  &::-webkit-scrollbar
    height: 0
    width: 0

  &::-webkit-scrollbar-thumb
    height: 0
    width: 0

  &::-webkit-scrollbar-track
    height: 0
    width: 0

@mixin quick-slider($slider-height, $slider-width, $slider-radius, $slider-color, $track-width,$track-radius, $track-color)
  -webkit-appearance: none /* Hides the slider so that custom slider can be made */
  width: $track-width /* Specific width is required for Firefox. */
  background: transparent /* Otherwise white in Chrome */
  &::-webkit-slider-thumb
    -webkit-appearance: none
    height: $slider-height
    width: $slider-width
    border-radius: $slider-radius
    background: $slider-color
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    margin-top: -($slider-height) / 4
  &::-moz-range-thumb
    height: $slider-height
    width: $slider-width
    border-radius: $slider-radius
    background: $slider-color
  &::-ms-thumb
    height: $slider-height
    width: $slider-width
    border-radius: $slider-radius
    background: $slider-color

  &::-webkit-slider-runnable-track
    height: $slider-height / 2
    width: $track-width
    background: $track-color
    border-radius: $track-radius
  &::-moz-range-track
    height: $slider-height / 2
    width: $track-width
    background: $track-color
    border-radius: $track-radius
  &::-ms-track
    height: $slider-height / 2
    width: $track-width
    background: transparent
    border-color: transparent
    border-width: 16px 0
    color: transparent
  &::-ms-fill-lower
    background: $track-color
    border-radius: $track-radius * 2
  &::-ms-fill-upper
    background: $track-color
    border-radius: $track-radius * 2



@mixin unselectable()
  user-drag: none
  -webkit-user-drag: none
  -moz-user-select: none
  -khtml-user-select: none
  -webkit-user-select: none

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */
  -ms-user-select: none
  user-select: none
