<link href="src/app/input-display/input-display.component.sass" type="stylesheet">


<div id="controllers"></div>
<h2 id="start">Press a button on your controller to start</h2>
<div id="direction-input-selection">
  <input
    id="use-ls"
    type="button"
    [attr.use]="useLeftStick"
    (click)="useLeftStick = !useLeftStick"
    value="LS"/>
  <input
    id="use-rs"
    type="button"
    [attr.use]="useRightStick"
    (click)="useRightStick = !useRightStick"
    value="RS"/>
  <input
    id="use-dpad"
    type="button"
    [attr.use]="useDPad"
    (click)="useDPad = !useDPad"
    value="DPad"/>
  <label for="btn-layout">Button Layout:
    <select #buttonLayout name="button-layout" id="btn-layout" (change)="rearrangeButtons(buttonLayout.value)">
      <option *ngFor="let layout of layoutVals">{{layout}}</option>
    </select>
  </label>
  <div style="float:right">{{testState}}</div>
</div>


