<script src="/src/assets/js/gamepad-test.js" type="module"></script>
<!-- <script src="../../heartbeat/build/heartbeat.js"></script> -->
<div id="controllers"></div>
<h2 id="start">Press a button on your controller to start</h2>
<!-- <div id="noteTypesCont">
  <div id="noteDiv">Notation Settings
    <h4 class="noteHeader">Movement Input Notation</h4>
    <select name="noteEnum" id="mvmtIn">
      <option value=1>Numeric</option>
      <option value=2>Directional</option>
      <option value=3>TruncatedDirectional</option>
      <option value=4>Motional</option>
      <option value=5>TruncatedMotional</option>
    </select>
    <h4 class="noteHeader">Movement Output Notation</h4>
    <select name="noteEnum" id="mvmtOut">
      <option value=1>Numeric</option>
      <option value=2>Directional</option>
      <option value=3>TruncatedDirectional</option>
      <option value=4>Motional</option>
      <option value=5>TruncatedMotional</option>
    </select>

  </div>
  <div id="noteDiv">
    <h4 class="noteHeader">Button Input Notation</h4>
    <select name="noteEnum" id="btnIn">
      <option value=1>Numeric</option>
      <option value=2>StreetFighter</option>
      <option value=3>SNK</option>
      <option value=4>Netherrealm</option>
      <option value=5>Tekken</option>
      <option value=6>SoulCalibur</option>
    </select>
    <h4 class="noteHeader">Button Output Notation</h4>
    <select name="noteEnum" id="btnOut">
      <option value=1>Numeric</option>
      <option value=2>StreetFighter</option>
      <option value=3>SNK</option>
      <option value=4>Netherrealm</option>
      <option value=5>Tekken</option>
      <option value=6>SoulCalibur</option>
    </select>
  </div>
</div>
<br>
<div id="convDiv">
  <textarea id="convInpStr">236HP</textarea>
  <button id="convBtn">CONVERT</button>
  <h3 id="outStrh3"></h3>
  <div id="dispNoteDiv">
    <h4 class="noteHeader">Button Display Notation</h4>
    <select name="noteEnum" id="dispBtn">
      <option value=1>Numeric</option>
      <option value=2>StreetFighter</option>
      <option value=3>SNK</option>
      <option value=4>Netherrealm</option>
      <option value=5>Tekken</option>
      <option value=6>SoulCalibur</option>
    </select>
  </div>
</div> -->
<script src="inputhelper.js"></script>
