head
  color: white

#direction-input-selection
  font-weight: bold

$dir-width: 48px
$dir-height: 48px
$btn-width: 60px
$btn-height: 60px

.dirs3x3
  display: inline-block
  height: $dir-height * 3
  width: $dir-width * 3

  .dirBtns-ortho
    // div
    float: left
    height: $dir-height
    line-height: $dir-height
    text-align: center
    width: $dir-width
    position: relative

  .dirBtns-diag
    // div
    float: left
    height: $dir-height
    line-height: $dir-height
    text-align: center
    width: $dir-width
    position: relative

  .dirBtns-center
    height: $dir-height
    line-height: $dir-height
    vertical-align: middle
    position: relative
    width: $dir-width
    z-index: 0

  .tracer
    position: absolute
    height: $dir-height
    width: $dir-width
    text-align: center
    z-index: 25


  div img
    vertical-align: middle
    max-width: 100%
    max-height: 100%

.btns4x2
  display: block
  width: $btn-width * 4
  height: $btn-height * 2
  display: inline-block
  padding-left: .5em

  div
    float: left
    height: $btn-height
    line-height: $btn-height
    overflow: hidden
    text-align: left
    vertical-align: middle
    width: $btn-width

    img
      display: block
      vertical-align: middle
      max-width: 100%
      max-height: 100%

.controller
  overflow: hidden

$orange: #ffa600
$blue: #82d2e5
$green: #c1d72e
$list1: $blue, $green, $orange

$list2: $blue 0%, $blue 33%, $green 33%, $green 66%, $orange 66%, $orange 100%

$list3: $blue 0%, $blue 10%, $green 25%, $green 39%, $orange 79%, $orange 100%

$list4: $blue, $green, $orange, $blue, $green, $orange, $blue, $green, $orange


.trail
  z-index: 26
  position: absolute
  height: 6px
  width: 6px
  border-radius: 3px
  background: teal
  opacity: 40%

.svg-shell
  position: absolute
  height: $dir-height * 3
  width: $dir-width * 3
  z-index: 30

  svg
    width: inherit
    height: inherit
    z-index: 2

    polyline
      z-index: 2
      stroke: yellowgreen
      fill: none
      stroke-width: 5px

.controllerButtons
  padding: 1em

.axes
  display: block
  float: right
  width: 30%

  .two-way-axis
    display: block
    border-radius: 4px
    margin: .1em
    height: 8px
    background: rgba(199, 199, 199, 0.48) 50% 50%
    .two-way-axis-neg
      float: right
      background: rgba(255, 23, 85, 0.7)
      height: 8px
      border-top-left-radius: 4px
      border-bottom-left-radius: 4px
    .two-way-axis-pos
      float: left
      background: rgba(36, 157, 255, 0.66)
      height: 8px
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px

.button
  padding: 1em
  border-radius: 3px
  border: 2px solid white
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAAxJREFUCNdjYPjPAAACAgEAqiqeJwAAAABJRU5ErkJggg==)
  background-size: 0% 0%
  background-position: 50% 50%
  background-repeat: no-repeat
  background-color: gray

.pressed
  border: 1px solid red

.start
  color: aliceblue

.noteHeader
  color: darkgrey
  text-decoration: underline
  text-decoration-color: white

#noteDiv
  background-color: rgb(19, 19, 19)
  padding: 1em
  float: right

#convDiv
  width: 50%
  background-color: black
