
html
  background-color: #e4e4e460
#editor-input-icons
  float: left
  max-width: 36px
  // position: relative
.editor-input-icon
  // float: left
    // position: absolute
  background-color: #181818
  max-width: 32px
#icon-img
  max-width: 24px
#editor-controls
  float: left
  background-color: #fff
  width: 100%
  min-height: 30px
  border-top: 1px solid #333
  // overflow: auto

  .editor-control
    background-color: #6e6e6ec9
    font-size: 15px
    font-weight: bold
    font-family: monospace
    float: left
    // height: 30px
    line-height: 30px
    margin: 3px

  input[type='button']
    float: left
    margin: 5px 3px

  selectF
    padding: 10px
    margin-top: 6px
    height: 20px

#pitch-range
  // width: 6em
  font: .2em
  #key-range-start, #key-range-end
    width: 4em
    font: .6em sans-serif
  #key-range-start-label, #key-range-end-label
    font: .6em sans-serif

#debug-info
  max-width: 90%

#mouse-x, #mouse-y
  font: .7em sans-serif
  font-weight: bold
  color: #181818

.pipe
  color: #eee
  margin-top: 0px

#playhead
  position: absolute
  z-index: 10
  height: 100%
  width: 21px
  background-color: rgba(255, 255, 255, .2)

#playhead-line
  width: 10px
  height: 100%
  border-right: 1px solid #0000ff

#editor
  background-color: #ffc
  background-color: #211E1E
  background-color: #5c5c5c
  // position: absolute
  overflow: auto
  // float: right
  // overflow: hidden

#score
  height: 100%
  width: 100%

  min-width: 100px
  background-color: #6b6b6b3a
  position: relative
  // overflow: hidden

.pitch-line
  background-image: url('assets/editor/img/pitch-line.png')
  position: absolute
  background-position: top
  background-repeat: repeat-x
  width: 100%

.directionalArrows
  // max-width: 18px
  // max-height: 18px

.black-key
  background-color: #505050

.bar-line
  position: absolute
  background-image: url('assets/editor/img/bar-line.png')
  background-repeat: repeat-y
  background-position: left
  // height: 100%

.beat-line
  position: absolute
  background-image: url('assets/editor/img/beat-line.png')
  background-repeat: repeat-y
  background-position: left
  height: 100%

.sixteenth-line
  position: absolute
  background-image: url('assets/editor/img/sixteenth-line-dotted.png')
  background-repeat: repeat-y
  background-position: left
  height: 100%

$clr-note-bg: #3d61af
$clr-note-border: #7b92c2

$clr-note-active-bg: #51df80b6
$clr-note-active-border: #d1d1d154

$clr-note-selected-bg: #922276d2
$clr-note-selected-border: #c058d44d

$clr-part-bg: #7ca5a838
$clr-part-border: #aadadd71

$clr-part-active-bg: #9dd88259
$clr-part-active-border: #98f86bb6

$clr-part-selected-bg: #d15cff28
$clr-part-selected-border: #a863aa8f

$clr-gs1:#8069e7ce
$clr-g1: #680b1fce
$clr-fs1: #3a1996ce
$clr-f1: #e44a85ce
$clr-e1: #2dc46c9f
$clr-ds1: #d80606e1
$clr-d1: #2a53dbd2
$clr-cs1: #ffed49b6
$clr-c1: #830202e1
$clr-b0: #f72828a6
$clr-as0: #3f00ebad
$clr-a0: #0f116ebb

.note[pitch='G#1']
  background-color: $clr-gs1
.note[pitch='G1']
  background-color: $clr-g1
.note[pitch='F#1']
  background-color: $clr-fs1
.note[pitch='F1']
  background-color: $clr-f1
.note[pitch='E1']
  background-color: $clr-e1
.note[pitch='D#1']
  background-color: $clr-ds1
.note[pitch='D1']
  background-color: $clr-d1
.note[pitch='C#1']
  background-color: $clr-cs1
.note[pitch='C1']
  background-color: $clr-c1
.note[pitch='B0']
  background-color: $clr-b0
.note[pitch='A#0']
  background-color: $clr-as0
.note[pitch='A0']
  background-color: $clr-a0

.note
  position: absolute
  font: .6em arial bolder
  z-index: 10
  background-color: $clr-note-bg
  border: 1px solid $clr-note-border

.note-info
  // text-align: center
  // padding: 32px
  // position: relative
.note-selected
  position: absolute
  z-index: 11
  background-color: $clr-note-selected-bg
  border: 2px solid $clr-note-selected-border

.note-active
  z-index: 10
  background-color: $clr-note-active-bg
  border: 3px solid $clr-note-active-border

.note-muted
  background-color: #555

  border: 1px solid #000

.note-edge
  // background-color: #0706067e
  position: absolute

.part
  position: absolute
  z-index: 9
  background-color: $clr-part-bg
  border: 1px solid $clr-part-border

.part-selected
  position: absolute
  z-index: 9
  background-color: $clr-part-selected-bg
  border: 1px solid $clr-part-selected-border

.part-active
  z-index: 9
  background-color: $clr-part-active-bg
  border: 1px solid $clr-part-active-border

.part-muted
  background-color: rgba(55, 55, 55, 0.5)

.cf
  &:before
    content: " "
    display: table

  &:after
    content: " "
    display: table
    clear: both

  head
    color: white
  //END
  //Heartbeat Editor Grid stuff
    ////I

.controllerButtons, .axes
  padding: 1em

// .axis
//   min-width: 200px
//   margin: 1em
.axis
  padding: 1em
  border-radius: 20px
  background-position: 50% 50%

.button
  padding: 1em
  border-radius: 20px
  background-position: 50% 50%

.pressed
  border: 1px solid red

.start
  color: aliceblue

.noteHeader
  color: darkgrey
  text-decoration: underline
  text-decoration-color: white

#noteDiv
  background-color: rgb(19, 19, 19)
  padding: 1em
  float: right

#convDiv
  width: 50%
  background-color: #000

.grid3x3
  width: 240px
  height: 240px
  display: inline-block

.grid3x3
  div
    width: 80px
    height: 80px
    float: left
    line-height: 80px
    text-align: center

.grid3x3
  div
    img
      display: inline-block
      vertical-align: middle
      max-width: 100%
      max-height: 100%

.grid4x2
  width: 320px
  height: 160px
  display: inline-block
  padding-left: 2em

.grid4x2
  div
    width: 80px
    height: 80px
    line-height: 80px
    float: left
    text-align: left
    overflow: hidden

.grid4x2
  div
    img
      display: inline-block
      vertical-align: middle
      max-width: 100%
      max-height: 100%

.controller
  overflow: hidden
