$converter-bg: #181818
html
  background-color: #d6d6d6
  font-family: helvetica

#title-header
  font: Arial

#editor-input-icons
  background-color: $converter-bg
  display: block
  float: left
  max-width: 24px

  div:first-of-type
    padding-top: 4px

.editor-input-icon-direction
  // background-color: #181818
  display: block
  height: 28px

.editor-input-icon
  // background-color: #181818
  display: block
  height: 28px
  // max-width: 24px

#icon-img
  max-width: 24px
#editor-controls
  float: left
  background-color: #fff
  width: 100%
  min-height: 30px
  border-top: 1px solid #333
  // overflow: auto

  .editor-control
    background-color: #6e6e6ec9
    font-size: 15px
    font-weight: bold
    font-family: monospace
    float: left
    // height: 30px
    line-height: 30px
    margin: 3px

  input[type='button']
    float: left
    margin: 5px 3px

  selectF
    padding: 10px
    margin-top: 6px
    height: 20px

#pitch-range
  // width: 6em
  font: .2em
  #key-range-start, #key-range-end
    width: 4em
    font: .6em sans-serif
  #key-range-start-label, #key-range-end-label
    font: .6em sans-serif

#debug-info
  max-width: 90%

#mouse-x, #mouse-y
  font: .7em sans-serif
  font-weight: bold
  color: #181818

.pipe
  color: #eee
  margin-top: 0px

#playhead
  position: absolute
  z-index: 10
  height: 100%
  width: 21px
  background-color: #ffffff33

#playhead-line
  width: 10px
  height: 100%
  border-right: 1px solid #0000ff

#editor
  background-color: #ffc
  background-color: #211E1E
  background-color: #5c5c5c
  // position: absolute
  overflow: auto
  // float: right
  // overflow: hidden

#score
  height: 100%
  width: 100%

  min-width: 100px
  background-color: #6b6b6b3a
  position: relative
  // overflow: hidden

.pitch-line
  background-image: url('assets/editor/img/pitch-line.png')
  position: absolute
  background-position: top
  background-repeat: repeat-x
  width: 100%

.directionalArrows
  // max-width: 18px
  // max-height: 18px

.black-key
  background-color: #50505059

.bar-line
  position: absolute
  background-image: url('assets/editor/img/bar-line.png')
  background-repeat: repeat-y
  background-position: left
  // height: 100%

.beat-line
  position: absolute
  background-image: url('assets/editor/img/beat-line.png')
  background-repeat: repeat-y
  background-position: left
  height: 100%

.sixteenth-line
  position: absolute
  background-image: url('assets/editor/img/sixteenth-line-dotted.png')
  background-repeat: repeat-y
  background-position: left
  height: 100%

$clr-note-bg: #3d61af
$clr-note-border: #7b92c2

$clr-note-active-bg: #51df80b6
$clr-note-active-border: #d1d1d154

$clr-note-selected-bg: #922276d2
$clr-note-selected-border: #c058d44d

$clr-part-bg: #7ca5a838
$clr-part-border: #aadadd71

$clr-part-active-bg: #9dd88259
$clr-part-active-border: #98f86bb6

$clr-part-selected-bg: #d15cff28
$clr-part-selected-border: #a863aa8f

$clr-gs1:#8069e7ce //up
$clr-g1: #680b1fce  //down
$clr-fs1: #3a1996ce //left
$clr-f1: #e44a85ce //right
$clr-e1: #2dc46c9f //b0
$clr-ds1: #d80606e1 //b1
$clr-d1: #2a53dbd2 //b2
$clr-cs1: #ffed49b6 //b3
$clr-c1: #a3a2a2e1 //b4
$clr-b0: #7c7c7ca6 //b5
$clr-as0: #333333ad //b6
$clr-a0: #111111bb //b7

.note[pitch='G#1']
  background-color: $clr-gs1
.note[pitch='G1']
  background-color: $clr-g1
.note[pitch='F#1']
  background-color: $clr-fs1
.note[pitch='F1']
  background-color: $clr-f1
.note[pitch='E1']
  background-color: $clr-e1
.note[pitch='D#1']
  background-color: $clr-ds1
.note[pitch='D1']
  background-color: $clr-d1
.note[pitch='C#1']
  background-color: $clr-cs1
.note[pitch='C1']
  background-color: $clr-c1
.note[pitch='B0']
  background-color: $clr-b0
.note[pitch='A#0']
  background-color: $clr-as0
.note[pitch='A0']
  background-color: $clr-a0

.note
  position: absolute
  font: .6em arial bolder
  z-index: 10
  background-color: $clr-note-bg
  border: 1px solid $clr-note-border

.note-info
  // text-align: center
  // padding: 32px
  // position: relative
.note-selected
  position: absolute
  z-index: 11
  background-color: $clr-note-selected-bg
  border: 2px solid $clr-note-selected-border

.note-active
  z-index: 10
  background-color: $clr-note-active-bg
  border: 3px solid $clr-note-active-border

.note-muted
  background-color: #555
  border: 1px solid #000

.note-edge
  position: absolute

.part
  position: absolute
  z-index: 9
  background-color: $clr-part-bg
  border: 1px solid $clr-part-border

.part-selected
  position: absolute
  z-index: 9
  background-color: $clr-part-selected-bg
  border: 1px solid $clr-part-selected-border

.part-active
  z-index: 9
  background-color: $clr-part-active-bg
  border: 1px solid $clr-part-active-border

.part-muted
  background-color: #37373780

.cf
  &:before
    content: " "
    display: table

  &:after
    content: " "
    display: table
    clear: both

  head
    color: white
  //END
  //Heartbeat Editor Grid stuff
    ////I

// .axis
//   min-width: 200px
//   margin: 1em
.axis
  padding: 1em
  border-radius: 20px
  background-position: 50% 50%

.button
  padding: 1em
  border-radius: 20px
  background-position: 50% 50%

.pressed
  border: 1px solid red

.start
  color: aliceblue

.noteHeader
  color: darkgrey
  text-decoration: underline
  text-decoration-color: white

#noteDiv
  background-color: #131313
  padding: 1em
  float: right

#convDiv
  width: 50%
  background-color: #000

//Input Display Style
$dir-width: 60px
$dir-height: 60px
$btn-width: 72px
$btn-height: 72px

.grid3x3
  display: inline-block
  height: $dir-height * 3
  width: $dir-width * 3

.grid3x3
  div
    float: left
    height: $dir-height
    line-height: $dir-height
    text-align: center
    width: $dir-width

.grid3x3
  div
    img
      display: block
      vertical-align: middle
      max-width: 100%
      max-height: 100%

.grid4x2
  display: block
  width: $btn-width * 4
  height: $btn-height * 2
  display: inline-block
  padding-left: .5em

  div
    float: left
    height: $btn-height
    line-height: $btn-height
    overflow: hidden
    text-align: left
    vertical-align: middle
    width: $btn-width

    img
      display: block
      vertical-align: middle
      max-width: 100%
      max-height: 100%

.controller
  overflow: hidden
