@use 'helpers/Mixins'
@import 'app/input-converter/input-converter.component'
@import 'app/input-display/input-display.component'
@import 'app/input-editor/input-editor.component'
@import 'app/database-explorer/database-explorer.component'

html
  background-color: #4b4b4b
  font-family: helvetica

#title-header
  font: Arial

#icon-img
  max-width: 24px
